*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
.title{
    font-size: 24px;
    margin-bottom: 20px;
}
ul{
    position: relative;
    left: 30px;
 }
.reload-btn{
    width: 100%;
    margin-top: 30px;
    padding: 10px 20px;
     border: none;
    background-color: #333;
 color: rgb(197, 164, 121);   
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.reload-btn:hover{
    background-color: #0c0a0a;
}
.hide{
    display: none;
}